[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/anton_math"]
	path = lib/anton_math
	url = https://github.com/kociap/anton_math
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/alexdevteam/glad
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
